{% extends "base.html" %}
{% block header %}
<header class="detailshead">
      <div class="container">
        <div class="row">
        <div class="col-lg-1"></div>
          <div class="col-lg-10 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Butterflies Choose Plants for Medicinal Qualities</h1>
              <span class="subheading">test test</span>
            </div>
          </div>
        </div>
      </div>
</header>
{% endblock %}


{% block content %}
<!-- Articles -->
<div class="container" id="container-expand">
</div>
    
<!-- Pagination -->
<div class="text-center">
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a type="button" href="#"><span aria-hidden="true">&laquo;</span></a>
    </li>
    <li id="page-expand">
      <!--<a href="#">1 <span class="sr-only">(current)</span></a>-->
    </li>
    <li>
      <a type="button" href="#"><span aria-hidden="true">&raquo;</span></a>
    </li>
  </ul>
</nav>
</div> 
{% endblock %}